body{
margin-top:0;
margin-left:0;
margin-right:0;
 background-attachment: fixed;
}
div{
background-color:#434e52;
color:#f1fcfc;
height:75px;
font-family:arial;
}
a:link,a:active,a:visited{
text-decoration:none;
color:#f1fcfc;
}
a:hover{
color:#bbe1fa;
}
iframe{
	border: none;
	/*height: 70vh;*/
}
td{
width=20%;
}
.wrapper{
	background: url(bg1.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}